body {
  color: hsl(210, 51%, 20%);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: light;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

/* Top navigation bar */
.navbar {
  /*display: block;*/
  width: 100%;
  padding: 0;
  /*text-align: right;*/
  background-color: darkgray;
  display: flex;
}

/* Breadcrumb Menu */
.breadcrumbs {
  color: white;
  font-style: italic;
  width: 50%;
  padding: 0;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
  justify-content: flex-start;
}

.breadcrumbs li {
  display: inline-flex;
  margin: 0;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.breadcrumbs li::after {
  content: ">";
  margin-left: 0.5em;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a {
  color: white;
  text-underline-offset: 3px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 1.1em;
  text-underline-offset: -0.9em;
  text-decoration-skip-ink: none;
}

/* main navigation menu */
.main_nav {
  width: 50%;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-flex;
  justify-content: flex-end;
}

.main_nav li {
  display: inline-flex;
  margin: 0;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main_nav a {
  text-decoration: none;
  color: white;
}

.main_nav a:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

header {
  text-align: center;
  clear: both;
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

h1 {
  /*Heading for the entire article*/
  font-size: 3rem;
    font-family: "Playfair Display", serif;
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.byline {
  font-family: ;
  font-size: 1.2rem;
  display: inline-flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-wrap: wrap;
}
h2 {
  font-family:  "Playfair Display", serif;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 0px;
}

h3 {
  font-family:  "Playfair Display", serif;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0px;
  font-style: italic
}

figure {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
 

img {
}

figcaption {
  font-style: italic;
}

.text {
  max-width: 350px;
  display: flex;
  flex-direction: column
}

.intro p {
  font-weight: 100;
  font-style: italic;
  font-size: 1.3em;
}

.Avalon .text {
  margin-right: 40px;
}

.Nature .text {
  margin-right: 40px;
}

.Hiking .text {
  margin-right: 40px;
}

.History .text {
  margin-right: 40px;
}

.Adventure .text {
  margin-right: 40px;
}

.Sunset .text {
  margin-right: 40px;
}

.Community .text {
  margin-right: 40px;
}

.Conclusion .text {
  margin-right: 40px;
}

ul {
  font-style: italic;
}

li {
  margin-bottom: 20px;
}

footer {
  background-color: lightgray;
  color: white;
  clear: both;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}